/*

//$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
*/
/* Headings */
.slide-in-nav {
  background-color: #fff;
}

#context-actions {
  background-color: #f5f5f5;
  z-index: 1020;
  border-bottom: #e7e7e7 solid 1px;
}

#meeting-menu .open #meeting-extras {
  background-color: #fff !important;
  color: #000 !important;
}

/* Generic navbar active */
@media (min-width: 768px) {
  #fixed-nav {
    background-color: #f5f5f5;
    border-right: 1px solid #e3e3e3;
  }
}
#fixed-top-nav, .navbar-voteit {
  background-color: #f61d1e;
  color: #fff;
}
#fixed-top-nav a, #fixed-top-nav:focus, #fixed-top-nav:active, .navbar-voteit a, .navbar-voteit:focus, .navbar-voteit:active {
  background-color: #f61d1e;
  color: #fff;
}
#fixed-top-nav .dropdown-menu a, .navbar-voteit .dropdown-menu a {
  background-color: #fff;
  color: #000;
}
#fixed-top-nav .dropdown-menu a:hover, .navbar-voteit .dropdown-menu a:hover {
  color: #262626;
  background-color: #f5f5f5;
}

.menu-toggler {
  border-radius: 8px 8px 0 0;
  background-color: rgba(255, 255, 255, 0.1) !important;
  transition: background-color 0.25s;
  margin-left: 8px;
}

@media (min-width: 768px) {
  body.left-fixed-active #agenda-toggler {
    background-color: #f5f5f5 !important;
    color: #000 !important;
  }
}

.menu-toggler.open {
  background-color: white !important;
  color: #000 !important;
}

.voteit-logo-nav {
  min-width: 70px;
  height: 25px;
  margin: 10px auto;
  padding: 0px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/static_ssu_theme/images/logo_neg.svg);
  background-position-y: center;
}
@media (min-width: 992px) {
  .voteit-logo-nav {
    margin-right: 10px;
  }
}

/* BRANDON */
@font-face {
  font-family: "BrandonText-Regular";
  src: url("../fonts/brandon/BrandonTextWeb-Regular.eot");
  src: url("../fonts/brandon/BrandonTextWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/BrandonTextWeb-Regular.woff") format("woff"), url("../fonts/brandon/BrandonTextWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BrandonText-Medium";
  src: url("../fonts/brandon/BrandonTextWeb-Medium.eot");
  src: url("../fonts/brandon/BrandonTextWeb-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/BrandonTextWeb-Medium.woff") format("woff"), url("../fonts/brandon/BrandonTextWeb-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BrandonText-MediumItalic";
  src: url("../fonts/brandon/BrandonTextWeb-MediumItalic.eot");
  src: url("../fonts/brandon/BrandonTextWeb-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/BrandonTextWeb-MediumItalic.woff") format("woff"), url("../fonts/brandon/BrandonTextWeb-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BrandonText-Bold";
  src: url("../fonts/brandon/BrandonTextWeb-Bold.eot");
  src: url("../fonts/brandon/BrandonTextWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/BrandonTextWeb-Bold.woff") format("woff"), url("../fonts/brandon/BrandonTextWeb-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BrandonText-Light";
  src: url("../fonts/brandon/BrandonTextWeb-Light.eot");
  src: url("../fonts/brandon/BrandonTextWeb-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon/BrandonTextWeb-Light.woff") format("woff"), url("../fonts/brandon/BrandonTextWeb-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* SSU DISPLAY */
@font-face {
  font-family: "SsuDisplay-Regular";
  src: url("../fonts/ssudisplay/ssu_display-webfont.eot");
  src: url("../fonts/ssudisplay/ssu_display-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ssudisplay/ssu_display-webfont.woff") format("woff"), url("../fonts/ssudisplay/ssu_display-webfont.ttf") format("truetype"), url("../fonts/ssudisplay/ssu_display-webfont.svg#SsuDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=main.css.map */
